%%-*- mode: erlang -*-
{deps, [
    {cowlib, ".*", {git, "git@gitlab.mogujie.org:shuchen/cowlib", "master"}},
    {cowboy, ".*", {git, "git@gitlab.mogujie.org:shuchen/cowboy", "master"}},
	{lager,  ".*", {git, "git@github.com:seishuchen/lager", "master"}},
	{ranch,  ".*", {git, "git@gitlab.mogujie.org:shuchen/ranch", "master"}}
]}.
{erl_opts, []}.
