%%-*- mode: erlang -*-
{deps, [
	{lager,  ".*", {git, "http://gitlab.mogujie.org/shuchen/lager.git", {branch,"master"}}},
    {cowlib, ".*", {git, "http://gitlab.mogujie.org/shuchen/cowlib.git", {branch,"master"}}},
    {cowboy, ".*", {git, "http://gitlab.mogujie.org/shuchen/cowboy.git", {branch,"master"}}},
	{ranch,  ".*", {git, "http://gitlab.mogujie.org/shuchen/ranch.git", {branch,"master"}}}
]}.
{erl_opts, [{parse_transform, lager_transform}]}.
